.nav {
    margin-top: 0;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #11191F;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.movie-card {
    animation: fadeIn 0.5s;
}

.search-field {
    position: sticky;
    top: 100px;
    background-color: transparent;
    padding: 10px;
}

/* Initial style for the floating search bar */
#floating-search-bar {
    position: sticky;
    top: 0;
    transition: transform 0.3s ease-in-out;
}
    /* Hide the search bar when user scrolls down */
    #floating-search-bar.scrolled-down {
        transform: translateY(-150%);
    }